@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/* ------------ ROOT VARIABLES ------------ */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-background-search: #ECF2FF;

    --radius: 36;
    --offset: calc(226 - (226 * 81 / 100));
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2em 3em var(var(--color-light));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.main {
    width: 100%;
    grid-template-columns: 14em auto;
}

.title-text {
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-box {
    width: 80%;
    background-color: var(--color-background-search);
    padding: 1em;
    border-radius: 2em;
    box-shadow: 0 1.8em 2.8em var(--color-light);
}

.search-form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
}

.all-input {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;

}

.all-input .input-info {
    display: flex;
    flex-direction: column;
}

.all-input .input-info input,
.all-input .input-info select {
    border: none;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
}

.apply-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 5em;
    padding: 0.5em;
    background-color: #57c3cf;
    justify-content: center;
    margin: 0 auto 0;
    transform: translateX(205%);
}

.apply-btn input,
.apply-btn select {
    border: none;
    background-color: transparent;
    font-size: 1em;
}

.apply-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.all-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.all-button .add-btn:hover,
.all-button .export-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.all-button .add-btn ion-icon,
.all-button .apply-btn ion-icon {
    width: 1em;
    height: 1em;
    display: block;
    fill: #fff;
    font-size: 1em;
    padding-right: 0.2em;
}

.all-button .add-btn,
.all-button .export-btn {
    border: none;
    padding: 0.5em;
    color: #fff;
    background-color: #55b659;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-button .other-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.all-button .export-btn ion-icon {
    padding-right: 0.1em;
    transform: translateY(-10%);
}

/* Begin: Table */
.table-cus {
    width: 95%;
}

.table-cus.book {
    width: 98%;
}

table {
    width: 100%;
    margin-top: 2em;
}

table th,
table td {
    padding-right: 1rem;
}

.table-cus a {
    text-align: center;
    display: block;
    margin: 1em auto;
    color: var(--color-primary);
}

/* End: Table */

/* Begin: Modal */
.container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.box-add {
    display: none;
    flex-direction: column;
    background-color: #ECF2FF;
    width: 30%;
    height: 75%;
}

.box-add.add.book {
    height: 65%;
}

.box-add.edit {
    height: 70%;
}

.box-add.edit.book {
    height: 65%;
}

.box-add.add.issue-book {
    width: 60%;
    height: 95%;
}

.box-add.edit.issue-book {
    width: 60%;
    height: 95%;
}

.show{
    width: 10%;
    height: 100%;
    border: 1px solid #000;
}

.box-add select {
    outline: none;
}

.box-add h2 {
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}

.box-add .all-input {
    margin-top: 2em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1em;
    font-size: 1.2em;
    padding: 0 2em;
}

.box-add .all-input select {
    padding-left: 0.3em;
}

.box-add .input-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-add.issue-book .input-box {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 1em;
}

.box-add.issue-book .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-add.issue-book .left label {
    transform: translateY(-5%);
    width: 30%;
    margin-right: 1em;
}

.box-add.issue-book .left input {
    width: 80%
}

.box-add.issue-book .input-box.username,
.box-add.issue-book .input-box.id {
    height: 22%;
}

.box-add.issue-book form {
    height: 100%;
}

.box-add .input-box label {
    transform: translateY(10%);
}

.box-add .input-box input,
.box-add .input-box .select-box {
    width: 60%;
}

.box-add.issue-book input {
    width: 100%;
}

.box-add.issue-book input[name="add_issue_username"],
.box-add.issue-book input[name="add_issue_id"] {
    height: 25%
}

.box-add.issue-book .input-box .show {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-add.issue-book .input-box .show.reader,
.box-add.issue-book .input-box .show.book {
    padding: 4px;
    border: 1px solid #000;
}

.box-add label {
    width: 35%;
    text-align: end;
}

.box-add.issue-book p {
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 0;
}

.box-add .input-box input {
    padding: 0.5em;
    font-size: 0.9em;
}

.box-add .input-box .select-box {
    height: 2em;
}

.box-add .input-box select {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
}

.box-add .submit-btn {
    width: 100%;
}

.box-add .submit-btn input {
    width: 100%;
    font-size: 1.2em;
    padding: 0.5em;
    background-color: #57c3cf;
    border: none;
}

.box-add .submit-btn input:hover {
    cursor: pointer;
    opacity: 0.8;
}

.box-add p {
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    margin-top: 0.8em;
}

.container.open {
    display: flex;
}
/* End: Modal */

.btn-toolbar.bottom {
    display: none;
}

/* Sort */
.sort-box {
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 2em;
}

.sort-box .select-sort {
    height: 100%;
    width: 160px;
    display: column;
}

.sort-box .select-sort select{
    width: 100%;
    height: 50%;
    font-size: 1.1em;
}

/* Profile */
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-add.profile-box {
    display: block;
    width: 70%;
    height: 80%;
}

.box-add.profile-box label{
    margin-right: 50px;
}

.box-add.profile-box input, 
.box-add.profile-box .select-box {
    margin-right: 15%;
}

.box-add.profile-box .submit-btn {
    width: 80%;
}

.change-pass-btn {
    display: relative;
    height: 30px;
    width: 25%;
}

.change-pass-btn button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 0.8em;
    background-color: #8fd4f4;
}

.change-pass-btn button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.box-add.edit.pass {
    height: 55%
}

.search-box.reader-issue {
    width: 60%;
}

.search-box.reader-issue .search-form {
    grid-template-columns: auto;
}

.search-box.reader-issue .search-form .apply-btn {
    transform: translateX(235%);
}


/* --------------- Toast Message --------------- */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 3;
}

.toast {
    min-width: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 20px 0px;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
    animation: slideInLeft ease 0.5s, fadeOut forwards 1s 3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px))
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast.success {
    border-color: #47d864;
}

.toast.success .toast-icon {
    color: #47d864;
}

.toast.info {
    border-color: #2f86eb;
}

.toast.info .toast-icon {
    color: #2f86eb;
}

.toast.warning {
    border-color: #ffc021;
}

.toast.warning .toast-icon {
    color: #ffc021;
}

.toast.error {
    border-color: #ff623d;
}

.toast.error .toast-icon {
    color: #ff623d;
}


.toast + .toast {
    margin-top: 24px;
}

.toast-icon {
    font-size: 40px;
}

.toast-icon,
.toast-close {
    padding: 0 16px;
    transform: translateY(5px);
}
.toast-body {
    flex-grow: 1;
}

.toast-title {
    text-align: start;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast-msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    list-style: 1.4;
}

.toast-close {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}