<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            rel="stylesheet"
            href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/humanity/jquery-ui.css"
        />
        <link rel="stylesheet" href="../../public/css/dashboard.css">

        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <title>Dashboard</title>
    </head>
    <body>
        <div class="main">
            <!-- Begin: Sidebar -->
            <div class="sidebar">
                <div class="top-sidebar">
                    <div class="logo">
                        <img src="../../public/assets/img/library-black-text.png" alt="">
                    </div>
                    <button class="close-btn">
                        <ion-icon name="close-sharp"></ion-icon>
                    </button>
                </div>
                <div class="content-sidebar">
                    <a href="#" class="dashboard active">
                        <ion-icon name="apps-sharp"></ion-icon>
                        <h3>Dashboard</h3>
                    </a>

                    <a href="./show_readers.html" class="readers">
                        <ion-icon name="person-sharp"></ion-icon>
                        <h3>Reader</h3>
                    </a>

                    <a href="./show_books.html" class="books">
                        <ion-icon name="library-sharp"></ion-icon>
                        <h3>Books</h3>
                    </a>

                    <a href="./issue_books.html" class="books">
                        <ion-icon name="bookmarks-sharp"></ion-icon>
                        <h3>Issue Books</h3>
                    </a>

                    <a href="#" class="reports">
                        <ion-icon name="bar-chart-sharp"></ion-icon>
                        <h3>Reports</h3>
                    </a>

                    <a href="../../index.html" class="logout">
                        <ion-icon name="log-out-sharp"></ion-icon>
                        <h3>Log out</h3>
                    </a>
                </div>
            </div>
            <!-- End: Sidebar -->

            <!-- Begin: Dashboard -->
            <aside>
                <div class="dashboard">
                    <h1>Dashboard</h1>
    
                    <!-- <div class="date">
                        <input type="text" id="">
                    </div> -->
                    <!------------------ Begin: Insights ------------------>
                    <div class="insights">
                        <!-- Begin: Book -->
                        <div class="infor book">
                            <ion-icon name="book-outline"></ion-icon>
                            <div class="middle">
                                <div class="left">
                                    <h3>Total Books</h3>
                                    <h1 id="analyze-total-book"></h1>
                                </div>
                            </div>
                        </div>
                        <!-- End: Book -->
    
                        <!-- Begin: Reader-->
                        <div class="infor reader">
                            <ion-icon name="people-outline"></ion-icon>
                            <div class="middle">
                                <div class="left">
                                    <h3>Total Reader</h3>
                                    <h1 id="analyze-total-reader"></h1>
                                </div>
                            </div>
                        </div>
                        <!-- End: Reader-->
    
                        <!-- Begin: Issue Book-->
                        <div class="infor issue-book">
                            <ion-icon name="download-outline"></ion-icon>
                            <div class="middle">
                                <div class="left">
                                    <h3>Total Issue Books</h3>
                                    <h1 id="analyze-total-issue"></h1>
                                </div>
                            </div>
                        </div>
                        <!-- End: Issue Book-->

                        <!-- Begin: New Reader-->
                        <div class="infor new-reader">
                            <ion-icon name="person-add-outline"></ion-icon>
                            <div class="middle">
                                <div class="left">
                                    <h3>New Reader Today</h3>
                                    <h1 id="analyze-new-reader"></h1>
                                </div>
                            </div>
                        </div>
                        <!-- End: New Reader-->
                        
                    </div>
                    <!------------------ End: Insights -------------------->
    
                    <!------------------ Begin: New Information ------------------>
                    <!------- Begin: New User ------->
                    <div class="new-infor">
                        <div class="new reader">
                            <h2>New Reader</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Full Name</th>
                                        <th>Phone Number</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="new book">
                            <h2>New Book</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Author</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!------- End: New User ------->
                    <!------------------ End: New Infomation ------------------>
                </div>
            </aside>
            <!------------------ End: Dashboard ------------------>
        </div>
        <!------------------ End: Main ------------------>
    </body>
</html>

<!-- Add icon source -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- Logic -->
<script src="../../public/js/dashboard.js"></script>