<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/humanity/jquery-ui.css"
        />
        <link rel="stylesheet" href="../../public/css/dashboard.css" />
        <link rel="stylesheet" href="../../public/css/show_page.css" />
        <!-- Add icon source -->
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
        <!-- Add jquery cdn -->
        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <title>Issue Books</title>
    </head>
    <body>
        <div>
            <div class="main">
                <!-- Begin: Sidebar -->
                <div class="sidebar">
                    <div class="top-sidebar">
                        <div class="logo">
                            <img
                                src="../../public/assets/img/library-black-text.png"
                                alt=""
                            />
                        </div>
                        <button class="close-btn">
                            <ion-icon name="close-sharp"></ion-icon>
                        </button>
                    </div>
                    <div class="content-sidebar">
                        <a href="./reader-profile.html" class="profile-sidebar">
                            <ion-icon name="information-circle-sharp"></ion-icon>
                            <h3>My Profile</h3>
                        </a>
        
                        <a href="#" class="issue active">
                            <ion-icon name="bookmarks-sharp"></ion-icon>
                            <h3>Issue Book</h3>
                        </a>
        
                        <a href="../../index.html" class="logout">
                            <ion-icon name="log-out-sharp"></ion-icon>
                            <h3>Log out</h3>
                        </a>
                    </div>
                </div>
                <!-- End: Sidebar -->

                <!-- Begin: Customer -->
                <aside>
                    <h2 class="title-text">Readers</h2>
                    <!-- Begin: Search Box -->
                    <div class="search-box reader-issue">
                        <form action="" class="search-form">
                            <div class="all-input">
                                <div class="input-info">
                                    <label for="">Book ID</label>
                                    <input type="text" name="search-id" />
                                </div>

                                <div class="input-info">
                                    <label for="">Book Name</label>
                                    <input type="text" name="search-name" />
                                </div>

                                <div class="input-info">
                                    <label for="">Issue Date</label>
                                    <input type="text" name="search-issue" />
                                </div>

                                <div class="input-info">
                                    <label for="">Expired Date</label>
                                    <input type="text" name="search-expired" />
                                </div>

                                <div class="input-info">
                                    <label for="">Issue Amount</label>
                                    <input
                                        type="text"
                                        name="search-issue-amount"
                                    />
                                </div>

                                <div class="input-info">
                                    <label for="">Status</label>
                                    <select name="search-status" id="search-status">
                                        <option value="" disable></option>
                                        <option value="Borrowing">Borrowing</option>
                                        <option value="Returned">Returned</option>
                                        <option value="Expired">Expired</option>
                                    </select>
                                </div>

                                <div class="apply-btn">
                                    <input type="submit" value="Apply" />
                                    <ion-icon name="checkmark-sharp"></ion-icon>
                                </div>
                            </div>  
                        </form>
                    </div>
                    <!-- End: Search Box -->

                    <!-- Begin: Sort -->
                    <div class="sort-box">
                        <div class="select-sort value">
                            <p>Sort by:</p>
                            <select name="sort-value" id="sort-value">
                                <option name="id-sort" value="0">Book ID</option>
                                <option name="name-sort" value="1">Book Name</option>
                                <option name="issue-date-sort" value="2">
                                    Issue Date
                                </option>
                                <option name="expired-date-sort" value="3">
                                    Expired Date
                                </option>
                                <option name="issue-amount-sort" value="4">
                                    Issue Amount
                                </option>
                                <option name="status-sort" value="5">
                                    Status
                                </option>
                            </select>
                        </div>
                        <div class="select-sort order">
                            <p>Order by :</p>
                            <select name="sort-order" id="sort-order">
                                <option name="asc-sort" value="asc">
                                    Ascending
                                </option>
                                <option name="des-sort" value="des">
                                    Descending
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- End: Sort -->

                    <!-- Begin: Table -->
                    <div class="table-cus">
                        <table id="table-issue">
                            <thead>
                                <tr>
                                    <th>Book ID</th>
                                    <th>Book Name</th>
                                    <th>Issue Date</th>
                                    <th>Expired Date</th>
                                    <th>Issue Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <a id="show-all" href="">Show All</a>
                    </div>
                    <!-- End: Table -->
                </aside>
            </div>
        </div>
    </body>
</html>

<!-- Logic -->
<script src="../../public/js/reader-issue.js"></script>
