<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/dashboard.css">
    <link rel="stylesheet" href="../../public/css/show_page.css">
    <!-- Add icon source -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Add jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <title>Books</title>
</head>
    <body>
        <div>
            <div class="main">
                <!-- Begin: Sidebar -->
                <div class="sidebar">
                    <div class="top-sidebar">
                        <div class="logo">
                            <img src="../../public/assets/img/library-black-text.png" alt="">
                        </div>
                        <button class="close-btn">
                            <ion-icon name="close-sharp"></ion-icon>
                        </button>
                    </div>
                    <div class="content-sidebar">
                        <a href="./dashboard.html" class="dashboard">
                            <ion-icon name="apps-sharp"></ion-icon>
                            <h3>Dashboard</h3>
                        </a>

                        <a href="#" class="readers">
                            <ion-icon name="person-sharp"></ion-icon>
                            <h3>Readers</h3>
                        </a>

                        <a href="#" class="books active">
                            <ion-icon name="library-sharp"></ion-icon>
                            <h3>Books</h3>
                        </a>

                        <a href="#" class="reports">
                            <ion-icon name="bar-chart-sharp"></ion-icon>
                            <h3>Reports</h3>
                        </a>

                        <a href="../index.html" class="logout">
                            <ion-icon name="log-out-sharp"></ion-icon>
                            <h3>Log out</h3>
                        </a>
                    </div>
                </div>
                <!-- End: Sidebar -->

                <!-- Begin: Customer -->
                <aside>
                    <h2 class="title-text">Customers</h2>
                    <!-- Begin: Search Box -->
                    <div class="search-box">
                        <form action="" class="search-form">
                            <div class="all-input">
                                <div class="input-info">
                                    <label for="">ID</label>
                                    <input type="text" name="book_id">
                                </div>
        
                                <div class="input-info">
                                    <label for="">Name</label>
                                    <input type="text" name="book_name">
                                </div>

                                <div class="input-info">
                                    <label for="">Author</label>
                                    <input type="text" name="book_author">
                                </div>
        
                                <div class="input-info">
                                    <label for="">Publisher</label>
                                    <input type="text" name="book_publisher">
                                </div>
        
                                <div class="input-info">
                                    <label for="">Category</label>
                                    <input type="text" name="book_category">
                                </div>

                                <div class="input-info">
                                    <label for="">Amount</label>
                                    <input type="text" name="book_category">
                                </div>

                                <div class="apply-btn">
                                    <input type="submit" value="Apply">
                                    <ion-icon name="checkmark-sharp"></ion-icon>
                                </div>
                            </div>

                            <div class="all-button">
                                <button class="add-btn">
                                    <ion-icon name="add-circle-outline"></ion-icon>
                                    Add Book
                                </button>
                                <button class="export-btn">
                                    <ion-icon name="share-sharp"></ion-icon>
                                    Export
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- End: Search Box -->

                    <!-- Begin: Table -->
                    <div class="table-cus">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>Category</th>
                                    <th>Amounts</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <a href="">Show All</a>
                    </div>
                    <!-- End: Table -->
                </aside>
            </div>
        </div>
        <!-- Begin: Modal -->
        <div class="container">
            <div class="box-add add">
                <h2>Add Book</h2>
                <form action="" method="POST">
                    <div class="all-input">
                        <div class="input-box">
                            <label for="">Name</label>
                            <input type="text" name="add_book_name">
                        </div>
                        <div class="input-box">
                            <label for="">Author</label>
                            <input type="text" name="add_book_author">
                        </div>
                        <div class="input-box">
                            <label for="">Publisher</label>
                            <input type="text" name="add_book_publisher">
                        </div>
                        <div class="input-box">
                            <label for="">Category</label>
                            <input type="text" name="add_book_category">
                        </div>
                        <div class="input-box">
                            <label for="">Total amount</label>
                            <input type="text" name="add_book_total_amount">
                        </div>
                        <div class="submit-btn">
                            <input type="submit" value="Submit" name="add_book_submit">
                        </div>
                    </div>
                </form>
                <p class="noti-text"></p>
            </div>
            <div class="box-add edit">
                <h2>Edit Book</h2>
                <form action="" method="POST">
                    <div class="all-input">
                        <input type="hidden" name="edit_book_id">
                        <div class="input-box">
                            <label for="">Name</label>
                            <input type="text" name="edit_book_name">
                        </div>
                        <div class="input-box">
                            <label for="">Author</label>
                            <input type="text" name="edit_book_author">
                        </div>
                        <div class="input-box">
                            <label for="">Publisher</label>
                            <input type="text" name="edit_book_publisher">
                        </div>
                        <div class="input-box">
                            <label for="">Category</label>
                            <input type="text" name="edit_book_category">
                        </div>
                        <div class="input-box">
                            <label for="">Amount book added</label>
                            <input type="text" name="edit_amount_added">
                        </div>
                        <div class="submit-btn">
                            <input type="submit" value="Submit" name="edit_book_submit">
                        </div>
                    </div>
                </form>
                <p class="noti-text"></p>
            </div>
        </div>
        <!-- End: Modal -->
        <!-- Logic -->
        <script src='../../public/js/show_books.js'></script>
    </body>
</html>